<% html_title "Examples" %>

<h2>Examples</h2>

<% @examples.each do |example| %>
  <p>
    <%= example.question %>?
    <%= link_to 'Yes', { action: 'vote', id: example[:id], answer: 'yes', project_id: @project }, method: :post, class: 'vote yes' %> <%= example.yes %> /
    <%= link_to 'No', { action: 'vote', id: example[:id], answer: 'no', project_id: @project }, method: :post, class: 'vote no' %> <%= example.no %>
  </p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'voting', plugin: 'test' %>
<% end %>
